*{margin: 0;padding: 0;list-style: none;border:none;font-family: "微软雅黑";}
.nav_wrap{width: 100%;}
.nav_wrap .nav_con{height: 100px;padding:0 12%;overflow: hidden;margin: 0 auto;}
.nav_wrap .nav_con h1{float: left;margin: 0 24px;}
.nav_wrap .nav_con h1 a{display: block;width: 306px;padding:22px 0px;}
.nav_wrap .nav_con h1 a img{display: block;width: 306px;}
.nav_wrap .nav_con ul{font-size: 0;display: -moz-box;display: -ms-flexbox;display: -webkit-box; display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;display: box;display: flexbox;display:flex;}
.nav_wrap .nav_con ul li{display: inline-block;font-size: 20px;text-align: center;margin: 20px 0;border-right: 1px solid #299189; -webkit-box-flex:1; -moz-box-flex:1; -ms-flex:1; -o-box-flex:1; box-flex:1; flex:1;width:16%\9\0;}
.nav_wrap .nav_con ul li a{color: #299189;display: block;font-weight: bold;text-decoration: none;padding: 10px 0;}
.nav_wrap .nav_con ul li a:hover{color: #eb9018;}
.nav_wrap .nav_con ul li:first-child{border-left: 1px solid #299189;}
.nav_wrap .nav_con ul li:nth-of-type(2){-webkit-box-flex:1.5; -moz-box-flex:1.5; -ms-flex:1.5; -o-box-flex:1.5; box-flex:1.5; flex:1.5;width:28%\9\0;}
.nav_wrap .nav_con ul li:last-child{border-right: none;}
.nav_wrap .nav_con ul li a span{position: relative;top: -8px;font-size: 16px;}

.down_line img,.line_wrap img,.up_line img{width:100%;}
.strict_line{width:100%;height:6px;background:url(../images/pc_line3.png) no-repeat;background-size:100% 100%;margin-top:58px;}
.page_con{min-width: 1024px;margin: 0 auto;overflow: hidden;padding-bottom: 58px;}
.index_wrap .big_event{position: relative;}
.index_wrap .big_event .big_event_title{font-size: 50px;font-weight: bold;position: absolute;left: 16%;color: #2d9189;}
.index_wrap .pic_wrap{margin-top: 24px;padding:0 16%;}
.index_wrap .pic_wrap img{display: block;margin: 0 auto;width: 100%;}
.index_wrap .text_wrap{padding: 0 16% 0 22%;font-size: 20px;color: #2d9189;line-height: 46px;margin-bottom:30px;}
.index_wrap .text_wrap p{text-indent: 2em;}
.index_wrap .vedio_wrap{margin-top: 20px;padding:0 12%;}
.index_wrap .vedio_panle{width: 100%;margin: 0 auto;display: block;}
.index_wrap .use_wrap{overflow: hidden;line-height: 44px;font-size: 20px;padding: 20px 16% 0;color: #666;}
.index_wrap .use_wrap .use_con{float: left;width: 82%;}
.index_wrap .use_wrap .use_pic{float: right;margin-top: 50px;}
.index_wrap .use_wrap .use_pic img{width: 115px;}
.nav_wrap .nav_con ul li.active a{color: #eb9018;}
.index_wrap .use_wrap .use{margin-bottom: 45px;}
.index_wrap .use_wrap .use .title{font-size: 24px;color: #299189;font-weight: bold;}
.index_wrap .use_wrap .use .title span{font-size: 20px;color: #299189;font-weight:normal;}
.index_wrap .use_tip{padding: 0 16%;color: #299189;font-size: 24px;margin-bottom:40px;}
.index_wrap .use_tip p{margin-top: 12px;font-weight:bold;}
.index_wrap .use_wendu{padding: 0 16%;}
.index_wrap .use_wendu .use{margin-bottom:30px;}
.index_wrap .use_wendu .title{font-size: 24px;color: #299189;margin-bottom: 12px;font-weight:bold;}
.index_wrap .use_wendu p{color: #666;line-height: 52px;font-size: 20px;}

.h3_title{padding:0 16%;}
.h3_title h3{font-size:32px;color: #299189;font-weight: bold;text-align: center;margin-top: 40px;}
.h3_title h3 p{border-bottom: 4px solid #299189;margin: 0 100px;}
.h3_title h3 b{font-size: 50px;vertical-align: middle;}

.questionAnswer h4{margin: 30px 0 20px 0;font-size:0;font-style: normal;position:relative;min-height: 70px;}
.questionAnswer h4 img{position:absolute;width:66px;top:50%;margin-top:-33px;}
.questionAnswer h4 p{padding-left:90px; color: #299189;font-size: 20px;}
.questionAnswer h4 p a{color: #299189;text-decoration: none;}
.questionAnswer h4 p a:hover{color: #eb9018;}

.h3_title h4{cursor:pointer;}
.h3_title .questionMain{display:none;}
.questionMain p{font-size: 20px;color: #3f3b3a;text-indent: 2em;line-height: 46px;}

.health_home{margin-top:.4rem;}
.health_home .questionImg_wrap{width:100%;background: #F0F5F4;}
.questionImg{width:930px;overflow: hidden;font-size:0;padding-top:30px;margin:0 auto;}
.questionImg li{display:inline-block;width:290px;margin-right:30px;margin-bottom:30px;}
.questionImg li a{display:block;}
.questionImg li img{display: block;width: 100%;}
.questionImg li:nth-of-type(3n){margin-right: 0;}

.list02 .pic_wrap{margin-top:0;}
.list02 img{width: 100%;display: block;}
.list02 .suplink_wrap{position:relative;}
.list02 .suplink_wrap a,.list02 .suplink_wrap div{position:absolute;height:100%;top:0;}
.list02 .suplink_wrap a.index_link{width:36%;}
.list02 .suplink_wrap div.scroll_btn1{width:32%;left:36%;}
.list02 .suplink_wrap div.scroll_btn2{width:32%;left:68%;}
.list02 .pic_wrap04,.list02 .pic_wrap11{position:relative;}
.list02 .pic_wrap04 a{position:absolute;width:30%;height:20%;top:72%;left:22%;}
.list02 .pic_wrap11 a{position:absolute;width:30%;height:20%;top:62%;left:20%;}

.erwei_code{position: fixed;right: 20px;top: 34%;width: 120px;margin-top: -60px;}
.erwei_code img{display: block;width: 100%;}
.QR_code{position: fixed;left: 20px;top: 34%;width: 120px;margin-top: -60px;}
.QR_code img{display: block;width: 100%;}

.backTop{position:fixed;right:20px;bottom: 10%;width:120px;height:120px;display:none;z-index: 5;}
.backTop img{width:100%;display:block;}